.reactMarkDown {
    /* some root styles here */
}

.reactMarkDown h1 {
    color: blue;
}

.reactMarkDown ul {
    margin-top: 1em;
    margin-bottom: 1em;
    list-style: disc outside none;
}

.reactMarkDown ul li {
    margin-left: 2em;
    display: list-item;
    text-align: -webkit-match-parent;
}
.reactMarkDown p {
    font-size: 14px;
    font-weight: 400;
    white-space: pre-wrap;
}
/* your other styles but all under .reactMarkDown blocks */
